[submodule "SimulationModels/FTM-Library-github"]
	path = SimulationModels/FTM-Library-github
	url = https://github.com/TUMFTM/Component_Library_for_Full_Vehicle_Simulations.git
[submodule "SimulationModels/TOTEM"]
	path = SimulationModels/TOTEM
	url = https://github.com/TUMFTM/TOTEM.git
